%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info]}.
{deps, [
        {setup, "2.1.0"},
        {gproc, "0.9.0"}
       ]}.

{profiles,
 [
  {docs, [{deps, [{edown, "0.8.4"}]}]}
 ]}.

{edoc_opts,
 [
  {doclet, edown_doclet},
  {app_default, "http://www.erlang.org/doc/man"},
  {doc_path, []},
  {top_level_readme,
   {"./API_DOCS.md",
    "https://github.com/aeternity/app_ctrl", "master"}}
 ]}.
